@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,500;1,600&display=swap');

html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --red-color: hsl(0, 100%, 74%);
  --green-color: hsl(154, 59%, 51%);
  --green-color-dark: hsl(154, 60%, 44%);
  --blue-color: hsl(248, 32%, 49%);
  --blue-color-light: hsl(248, 38%, 57%);
  --dark-blue-color: hsl(249, 10%, 26%);
  --grayish-blue-color: hsl(246, 25%, 77%);
  --translucent-black-color: hsla(0, 0%, 0%, 0.1);
}

body {
  background-image: url('./assets/images/bg-intro-desktop.png');
  background-color: var(--red-color);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  body {
    background-image: url('./assets/images/bg-intro-mobile.png');
  }
}
