.pageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1100px;
  box-sizing: border-box;
  margin: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.subtitle {
  color: #fff;
}

.upperBtn {
  height: 57px;
  background-color: var(--blue-color);
  text-transform: none;
  box-shadow: 0 7px 0 0 var(--translucent-black-color);
  border-radius: 10px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .2s ease;
  color: #fff;
}

.upperBtn:hover {
  background-color: var(--blue-color-light);
  box-shadow: 0 7px 0 0 var(--translucent-black-color);
}

.submitBtn {
  height: 57px;
  background-color: var(--green-color);
  color: #fff;
  box-shadow: 0 5px 0 0 var(--green-color-dark);
  transition: opacity .2s ease;
}

.submitBtn:hover {
  background-color: var(--green-color);
  box-shadow: 0 5px 0 0 var(--green-color-dark);
  opacity: .7;
}

.formContainer {
  background-color: #fff;
  box-shadow: 0 7px 0 0 var(--translucent-black-color);
  padding: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.gridContainer {
  height: 100%;
}

.gridItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.link {
  color: var(--red-color);
  text-decoration: none;
  font-weight: 600;
  transition: opacity .2s ease;
}

.link:hover {
  opacity: .7;
}

.tosText {
  text-align: center;
  font-size: 12px;
  color: hsl(246, 25%, 77%);
}

/* Mobile view */
@media (max-width: 768px) {
  .container {
    text-align: center;
  }
  .pageContainer {
    margin-bottom: 40px;
  }
  .header {
    margin-top: 50px;
  }
  .formContainer {
    padding: 15px 20px 30px 20px;
    margin-bottom: 80px;
  }
  .upperBtn {
    height: 88px;
  }
}